@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  grid-template-columns: 50% 50%;
  text-decoration: none
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #1c1c1c, #2b0a3d);    background-size: 900% 900%;
  animation: gradientAnimation 10s ease infinite;
  padding: 0;  
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 20px;
  height: 100vh;
  margin-left: 100px;
  margin-right: 100px;
  transition: background 0.2s linear;
  text-align: center;
}

@keyframes zoomIn {
  to {
      transform: scale(1);
  }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(135deg, #1c1c1c, #2b0a3d);
    animation: gradientAnimation 10s ease infinite;
    transition: background 0.2s linear;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(92, 75, 138, 0.8);
    border-radius: 10px; 
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
 }
 .loading-gif{
    width: 540px;
    height: auto;
 }

 .loading-text{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 20px;
 }