@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  grid-template-columns: 50% 50%;
  text-decoration: none
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('Imagens/Imagem_de_Fundo.jpg');
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed, fixed;
  padding: 0;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 20px;
  height: 100vh;
  margin-left: 200px;
  margin-right: 200px;
  transition: background 0.2s linear;
  text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(135deg, #1c1c1c, #2b0a3d);
    animation: gradientAnimation 10s ease infinite;
    transition: background 0.2s linear;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(92, 75, 138, 0.8);
    border-radius: 10px; 
}

.Bnt-Curriculo {
  margin-top: 30px;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  right: 10px;
  bottom: 10px;
  transition: all 0.3s ease;
  font-size: 1rem;
  margin-bottom: 50px;
}

.Bnt-Curriculo a{
  padding: 20px;
  margin-top: 30px;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  bottom: 10px;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.Bnt-Curriculo a:hover {
  color: white;
  background-color: transparent;
  border-color: white;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.Opcoes {
  text-align: center;
  margin: 20px;
}

.Opcoes {
  background-color: #000000;
  border: 3px solid white;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
}

.Opcoes h1 {
  color: #ffffff;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.Opcoes p {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 40px;
}

.nav-links {
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-links h2 {
  color: #ffffff;
  font-size: 1.2em;
}

.nav-links :hover{
  text-decoration: underline;
  transition: font-size 0.3s ease;
}

.nav-links a :hover{
  font-size: 1.1em;
}

.FotoPerfil img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    object-fit: cover;
    margin: 20px auto; 
    display: block; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.SobreMim {
    color: white;
    border: 3px solid white;
    background-color: rgba(66, 50, 110, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.SobreMim p{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.skills {
    border: 3px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.skill-item {
    border-radius: 10px;
    padding: 15px;
    width: 100px; 
    text-align: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.PROJETOS {
    color: white;
    text-align: center;
    margin-bottom: 20x;
}

.PROJETOS h1{
    border: 3px solid white;
    color: white;
    text-align: center;
    background-color: rgba(92, 75, 138, 0.8);
    border-radius: 20px;
}

.box-projetos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box-projetos p {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box-projetos :hover{
    background-color: rgba(66, 50, 110, 0.8);
}

.folclore,
.Mercado,
.PlayerMusical {
    border: 3px solid white;
    background-color: #5c4b8a;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.folclore-image,
.mercado-image,
.player-image {
    margin-left: none;
    margin-right: none;
    margin-top: 20px;
    width: 300px; 
    height: auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-visualizar {
    margin-top: 30px;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    right: 10px;
    bottom: 10px;
    transition: all 0.3s ease;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-visualizar:hover {
    color: white;
    background-color: transparent;
    border-color: white;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.SOCIAIS {
  margin-top: 40px;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  padding: 30px;
}

.social-items {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-item img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.social-item a :hover {
  transform: scale(1.1);
}

.social-item h1 {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.thank-you {
  color: white;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}